.wu-main-section {
  padding: 7.5rem 0;
}

.wu-main-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wu-main-section {
  height: calc(100vh - 40px - 56px);
  display: flex;
  align-items: center;
}

.wu-main-btn {
  border: 1px solid #000;
  margin-bottom: 2.5rem;
  width: 8rem;
  height: 4rem;
  display: flex;
  align-items: center; /*Ver*/
  justify-content: center; /*Hor*/
  text-decoration: none;
  color: black;
  transition: all 0.3s;
}

.wu-main-btn:hover {
  background-color: #a05f5f;
  color: #fff;
}

.wu-doc-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}

.wu-doc-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  border: 1px solid #000;
  border-bottom: 0;
  padding: 1.5rem 0;
}

.wu-doc-card:nth-last-child(1) {
  border-bottom: 1px solid #000;
}

.wu-doc-select,
.wu-doc-title,
.wu-doc-date {
  padding: 0 2rem;
}

.wu-doc-date {
  width: 10rem;
  text-align: center;
}

.wu-doc-title {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.wu-local-section {
  padding: 2.5rem 0;
  overflow-y: auto;
  align-items: flex-start;
}

.wu-pagination .pagination {
  width: max-content;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .wu-doc-card {
    flex-direction: column;
  }

  .wu-doc-title {
    padding: 1rem;
    border: 0;
    text-align: center;
  }
}

